.search-box {
  background: none;
  text-align: center;
  margin-top: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
}

.search-btn {
  margin-left: 1rem;
  background-color: #730621 !important;
  border-color: #730621 !important;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
